@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.NavBar {
    display: flex;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 1vh;
    height: 12vh;
    justify-content: space-between;
}

/* Boton de regreso Back */

.Back{
    display:flex;
    height: 10vh;
    width: 15vw;
}

.sombra{
    border: 1px solid rgba(0, 0, 0, 0.02);
    box-shadow: 0px 14px 30px 8px rgba(0, 0, 0, 0.05);
}

.Flecha{
    width: 80%;
    margin-left: 5px;
    width: 40px;
    height: 37px;
    margin-left: auto;
}

.icono_flecha{
    font-size: 25px;
}

.texto_back{
    margin-right: 15px;
}

/*Estilos reutilizados*/

.centrar_verticalmente {
    display: flex;
    align-items: center;
}

.direccion {
    display: inline-block;
}


/*Botones de Menu*/
.Menu {
    display:flex;
    height: 12vh;
    width: 10vw;
    padding-left: 20px;
}

/* Barras */

.contenedor{
    margin-left: 10px;
    width: 40px;
    height: 37px;
}

.barra1{
    width: 100%;
    height: 6px;
    border-radius: 15px;
    background-color: black;
    margin-left: auto;
    margin-top: 5px;
}

.barra2{
    width: 50%;
    height: 6px;
    border-radius: 15px;
    background-color: black;
    margin-left: auto;
    margin-top: 5px;
}

.barra3{
    width: 75%;
    height: 6px;
    border-radius: 15px;
    background-color: black;
    margin-left: auto;
    margin-top: 5px;
}

.Principal {
    margin-left: 0px;
    margin-right: 0px;
}

.Numero5 {
    margin-top: 1vh;
    height: 60vh;
    width: 100%;
}

.numero10 {
    width: 300%;
}


/*================== Parte central de la Pagina ==================*/

.nombre{
    margin-top: 100px;
    width: 100%;
    height: 35vh;
    background-color: violet;
}

.numero1 {
    width: 100%;
    height: 100%;
    background-color: yellow;
}

.Texto_Principal {
    background-color: cornflowerblue;
    height: 60%;
}

/*================== Botones ==================*/
.boton {
    background-color: red;
    /* width: 47.5%; */
    width: 190px;
    height: 55px;
}

.seccion_botones {
    width: 50%;
    height: 55px;
    justify-content: space-between;
}

.contenedor_boton_pricipal{
    font-size: 35px;
    background-color: green;
}

.texto_boton {
    background-color: lightgrey;
    font-size: 12px;
    font-weight: 800;
    width: 100%;
}

.numero9 {
    height: 100%;
    width: 20%;
}

.numero10 {
    text-align: center;
}

.texto3 {
    font-size: 20px;
    margin-bottom: -10px;
    font-weight: 800;
}

.verde_abajo {
    height: 5%;
}


/* Div General de la pagina*/
.Principal_Abajo {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10vh;
    padding-right: 10vh;
}

.Texto1 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: -10px;
}

.Texto2 {
    font-size: 20px;
}

.texto4 {
    /*background-color: blue;*/
    width: 60%;
    margin-left: 10%;
}

/*Neo fecture*/
/*Parte Inferior Neo fectures*/

.barra_iconos{
    display: flex;
    background-color: red;
    width: 450px;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.contenedor_iconos{
    display: flex;
    height: 55px;
}

.boton_inferior{
    background-color: chartreuse;
    width: 190px;
    margin-left: 15px;
}

/* Iconos */

.icono_inferior{
    border: 1px solid black;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.icono_flecha{
    margin-right: auto;
    margin-left: auto;
}