@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.cuerpo{
    margin: 0;
    padding: 0 ;
}

.Cabecera{
    margin-left: 0.7ch;
    margin-right: 0.7ch;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Primero{
    height: 10vh;
    width: 20vw;
    margin-bottom: 2vh;
    border: 1px solid black
    
}

.Flecha{
    margin-left: 55%;
    height: 13vh;
}


.Menu{
    border: 1px solid black;
    text-align: center;
    height: 12vh;
    width: 15vw;
}

.direccion{
    display: inline-block;
}

.Principal{
    margin-top: 10px;
}

.Principal_Abajo{
    background-color: green;
    height: 86vh;
    margin-right: 10%;
    margin-left: 10%;    
}

.Adentro_arriba{
    background-color: grey;
    height: 65vh;
}

.varios_iconos{
    display: flex;
}


